name: execute multiple job
on:
  push:
jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
      - name: Install cowsay
        run: sudo apt-get install cowsay -y
      
      - name: Generate dragon.txt
        run: cowsay -f dragon "I m dragon" >> dragon.txt

      - name: upload an artifact
        uses: actions/upload-artifact@v4
        with:
          name: dragon-text-file
          path: dragon.txt

  test_job:
    needs: build_job
    runs-on: ubuntu-latest
    steps:
      - name: Download the artifact
        uses: actions/download-artifact@v4
        with:
          name: dragon-text-file

      - name: check if file exists
        run: grep -i "dragon" dragon.txt

  deploy_job:
    needs: test_job
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dragon-text-file
          
      - name: read the file
        run: cat dragon.txt